/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

div {
	text-align: center;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}


myDecoratedPanelStyle 
{
   background-image:url('images/mainBackground.jpe');
   background-color:#cccccc;
}

.time {
	font-size: 15px;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 20px;
}

.translate {
	margin-top: 60px;
}

